.wrap {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 24px;
  height: 100%;
}

.list {
  border-bottom: 1px solid #dddddd;
  margin: 36px;
}

.list:last-child {
  border-bottom: none;
}

.brandname {
  font-size: 16px;
  line-height: 18.5px;
  margin-bottom: 12px;
}

.brandquote {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 36px;
}
