.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px 20px;
}

.logo {
  height: 15px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.16px;
}
