.wrap {
  background-color: #000;
  color: #fff;
  padding: 45px 36px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 48px;
  font-size: 18px;
  cursor: pointer;
}

.item:hover {
  color: rgba(221, 221, 221, 1);
}

.item:last-child {
  margin-bottom: 83px;
}

.social {
  margin-bottom: 40px;
}

.social:last-child {
  margin-bottom: 0px;
}

.socialLink {
  display: block;
}

.line {
  border-bottom: 1px solid #3e3e3e;
  margin-bottom: 45px;
}

.terms {
  font-size: 13px;
  color: #808080;
  width: 201px;
  margin-bottom: 25px;
}

.copyright {
  font-size: 13px;
  color: #808080;
}

.logoDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .logoDesktop {
    display: block;
    color: white;
  }

  .list {
    display: flex;
    flex-direction: row;
  }

  .item {
    margin-right: 20px;
    font-size: 18px;
  }

  .item:last-child {
    margin-right: 0;
  }

  .termsWrap {
    display: flex;
  }

  .terms {
    margin-right: 36px;
  }

  .terms:last-child {
    margin-right: 0;
  }

  .copyright {
    margin-left: 392px;
  }

  .social {
    display: none;
  }
}
